# PHPStorm
/.idea/

# VSCodeish
*.code-workspace

# Composer
/vendor/
/composer.phar
/composer.lock

# Build data
*.lock
*.cache
_src/
build/
assets/
public/
var/
templates/
/index.php
/*.css
!dynamicrules.css